body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1d1dbb;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    text-align: left;
}

h1 {
    color: #ffffff;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.pesquisa-notas {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
}

.pesquisa-notas input[type="search"] {
    border-radius: 10px;
    border: 2px solid #1d1dbb;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.pesquisa-notas ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 300px;
}

.pesquisa-notas li {
    background-color: #e6f0ff;
    border: 1px solid #1d1dbb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
}

.nova-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.nova-nota label {
    margin-bottom: 5px;
    font-size: 16px;
}

.nova-nota input[type="text"],
.nova-nota textarea {
    border-radius: 10px;
    border: 2px solid #1d1dbb;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 14px;
}

.nova-nota textarea {
    resize: none;
    min-height: 150px;
}

.adiciona {
    background-color: #1d1dbb;
    color: white;
    width: 130px;
    height: 38px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

.apagar-tudo {
    background-color: #1d1dbb;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.botao-apagar {
    background-color: #1d1dbb;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}
